.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 175px;
    padding-bottom: 110px;
    gap: 16px;
}

.title {
    font-size: 26px;
    letter-spacing: 0.25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    line-height: 26px;
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 350px;
    width: 100%;
    margin-top: 16px;
}

.button {
    text-align: center;
    background-color: rgb(16, 131, 254);
    padding: 10px 24px;
    border-radius: 8px;
}